*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Exo 2', sans-serif;
}
img
{
    display: flex;
    align-content: center;
    width: 1000px;
    height: 250;
}

a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Exo 2', sans-serif;
}

div{
    display: flex;
    justify-content: center;
}

form
{
    margin-top:100px;
}
input
{
    width: 420px;
    height: 40;
    margin-top:20px ;
    padding-left: 10px;
    border-radius: 20px;
    
}
label
{
    color: aliceblue;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 19px;
     font-family: 'Exo 2', sans-serif;
    
}

.div_form
{
    padding-right: 50px;
}

.div2
{
    margin-right:14px ;
}
.div3
{
    margin-right: 83px;
}
.div4
{
    margin-right: 21px;
}
.div5
{
    margin-right: 79px;
}

.div-button
{
    margin-top: 70px;
}

button
{
    width: 150px;
    height: 30px;
    border-radius:15px ;
}

.div-submit button
{
    margin-top: 50px;
    margin-left: 50px;
}

a:hover
{
    color: red;
}